<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Crypto_Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab1">
                <span class="oi oi-plus" aria-hidden="true"></span> lab1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> lab2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab3-1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> lab3/1
            </NavLink>

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab3-2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> lab3/2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab4">
                <span class="oi oi-list-rich" aria-hidden="true"></span> lab4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab5">
                <span class="oi oi-list-rich" aria-hidden="true"></span> lab5
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab6">
                <span class="oi oi-list-rich" aria-hidden="true"></span> lab6
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
